<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Medical Supply</title>
</head>
<body>
    <div class="grid-container">
      <header class="header">
           <div class="brand">
               <button onclick="openNav()">
                   &#9776;
               </button>
               <a href="index.html">Medical Essentials</a>
            </div>
            <div class="header-links">
                <a href="cart.html"> Cart </a>
                <a href="signin.html" > Sign In </a>
      </header>
        <div id="mySidebar" class="sidebar">
            <a href="javascrip:void(0)" class="closebtn" onclick="closeNav()">x</a>
            <a href="index.html">Contact Us</a><br>
            <a href="index.html">Locations</a><br>
            <a href="index.html">Give Feedback</a><br>
            <a href="index.html">FAQ</a><br>
            
        </div>
        <main class="main">
            <div class="content">
            <ul class="products">
                
                <li>
                    <div class="product">
                    <img class="product-image" src="./images/d1.jpg" alt="product" />
                    <div class="product-name">Face Masks with adjustable nose wire</div>
                    <div class="product-brand">AmericanEmoji</div>
                    <div class="product-price">$12.99</div>
                    <div class="product-rating">4.5 Stars  (10 reviews)</div>
                  
                </div>    
                </li>
                <li>
                    <div class="product">
                    <img class="product-image" src="./images/d2.jpg" alt="product" />
                    <div class="product-name">Face Masks with adjustable nose wire</div>
                    <div class="product-brand">AmericanEmoji</div>
                    <div class="product-price">$12.99</div>
                    <div class="product-rating">4.5 Stars  (10 reviews)</div>
                  
                </div>    
                </li>
                <li>
                    <div class="product">
                    <img class="product-image" src="./images/d3.jpg" alt="product" />
                    <div class="product-name">Face Masks with adjustable nose wire</div>
                    <div class="product-brand">AmericanEmoji</div>
                    <div class="product-price">$12.99</div>
                    <div class="product-rating">4.5 Stars  (10 reviews)</div>
                  
                </div>    
                </li>
                <li>
                    <div class="product">
                    <img class="product-image" src="./images/d4.jpg" alt="product" />
                    <div class="product-name">Face Masks with adjustable nose wire</div>
                    <div class="product-brand">AmericanEmoji</div>
                    <div class="product-price">$12.99</div>
                    <div class="product-rating">4.5 Stars  (10 reviews)</div>
                  
                </div>    
                </li>
                <li>
                    <div class="product">
                    <img class="product-image" src="./images/d5.jpg" alt="product" />
                    <div class="product-name">Face Masks with adjustable nose wire</div>
                    <div class="product-brand">AmericanEmoji</div>
                    <div class="product-price">$12.99</div>
                    <div class="product-rating">4.5 Stars  (10 reviews)</div>
                  
                </div>    
                </li>
                <li>
                    <div class="product">
                    <img class="product-image" src="./images/d6.jpg" alt="product" />
                    <div class="product-name">Face Masks with adjustable nose wire</div>
                    <div class="product-brand">AmericanEmoji</div>
                    <div class="product-price">$12.99</div>
                    <div class="product-rating">4.5 Stars  (10 reviews)</div>
                  
                </div>    
                </li>
                <li>
                    <div class="product">
                    <img class="product-image" src="./images/d7.jpg" alt="product" />
                    <div class="product-name">Face Masks with adjustable nose wire</div>
                    <div class="product-brand">AmericanEmoji</div>
                    <div class="product-price">$12.99</div>
                    <div class="product-rating">4.5 Stars  (10 reviews)</div>
                  
                </div>    
                </li>
                <li>
                    <div class="product">
                    <img class="product-image" src="./images/d8.jpg" alt="product" />
                    <div class="product-name">Face Masks with adjustable nose wire</div>
                    <div class="product-brand">AmericanEmoji</div>
                    <div class="product-price">$12.99</div>
                    <div class="product-rating">4.5 Stars  (10 reviews)</div>
                  
                </div>    
                </li>
                <li>
                    <div class="product">
                    <img class="product-image" src="./images/d9.jpg" alt="product" />
                    <div class="product-name">Face Masks with adjustable nose wire</div>
                    <div class="product-brand">AmericanEmoji</div>
                    <div class="product-price">$12.99</div>
                    <div class="product-rating">4.5 Stars  (10 reviews)</div>
                  
                </div>    
                </li>
                <li>
                    <div class="product">
                    <img class="product-image" src="./images/d10.jpg" alt="product" />
                    <div class="product-name">Face Masks with adjustable nose wire</div>
                    <div class="product-brand">AmericanEmoji</div>
                    <div class="product-price">$12.99</div>
                    <div class="product-rating">4.5 Stars  (10 reviews)</div>
                  
                </div>    
                </li>
                <li>
                    <div class="product">
                    <img class="product-image" src="./images/d11.jpg" alt="product" />
                    <div class="product-name">Face Masks with adjustable nose wire</div>
                    <div class="product-brand">AmericanEmoji</div>
                    <div class="product-price">$12.99</div>
                    <div class="product-rating">4.5 Stars  (10 reviews)</div>
                  
                </div>    
                </li>
                <li>
                    <div class="product">
                    <img class="product-image" src="./images/d12.jpg" alt="product" />
                    <div class="product-name">Face Masks with adjustable nose wire</div>
                    <div class="product-brand">AmericanEmoji</div>
                    <div class="product-price">$12.99</div>
                    <div class="product-rating">4.5 Stars  (10 reviews)</div>
                  
                </div>    
                </li>
                <li>
                    <div class="product">
                    <img class="product-image" src="./images/d13.jpg" alt="product" />
                    <div class="product-name">Face Masks with adjustable nose wire</div>
                    <div class="product-brand">AmericanEmoji</div>
                    <div class="product-price">$12.99</div>
                    <div class="product-rating">4.5 Stars  (10 reviews)</div>
                  
                </div>    
                </li>
                <li>
                    <div class="product">
                    <img class="product-image" src="./images/d14.jpg" alt="product" />
                    <div class="product-name">Face Masks with adjustable nose wire</div>
                    <div class="product-brand">AmericanEmoji</div>
                    <div class="product-price">$12.99</div>
                    <div class="product-rating">4.5 Stars  (10 reviews)</div>
                  
                </div>    
                </li>
                <li>
                    <div class="product">
                    <img class="product-image" src="./images/d15.jpg" alt="product" />
                    <div class="product-name">Face Masks with adjustable nose wire</div>
                    <div class="product-brand">AmericanEmoji</div>
                    <div class="product-price">$12.99</div>
                    <div class="product-rating">4.5 Stars  (10 reviews)</div>
                  
                </div>    
                </li>
                <li>
                    <div class="product">
                    <img class="product-image" src="./images/d16.jpg" alt="product" />
                    <div class="product-name">Face Masks with adjustable nose wire</div>
                    <div class="product-brand">AmericanEmoji</div>
                    <div class="product-price">$12.99</div>
                    <div class="product-rating">4.5 Stars  (10 reviews)</div>
                  
                </div>    
                </li>
                
                
            </ul>
        </main>
        <footer class="footer">
            All rights reserved
        </footer>
    </div>
    <script>
        function openNav(){
            document.getElementById("mySidebar").style.width="250px";
            document.getElementById("main").style.marginLeft="250px";
        }
        function closeNav() {
            document.getElementById("mySidebar").style.width="0";
            document.getElementById("main").style.marginLeft="0";

    }
    </script>
    
</body>
</html>